# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [8]:
# Write your code here
str = ["Data", "Science", "Mentorship", "Program", "By", "CampusX"]
ans = '-'.join(str)
print(ans,sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [13]:
# Write your code 
celsius = 0
farenheit = (9/5)*(celsius) + 32
print(farenheit)

32.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [15]:
# Write your code here
a = 10
b = 20
print(a, b, sep=',')
[a,b] = [b,a]
print(a, b,  sep=',')

10,20
20,10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [18]:
# Write your code here
x1, x2, y1, y2 = map(int,input("Enter x1 x2 y1 y2").split())

print(abs(x2-x1) + abs(y2-y1))

9

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [20]:
# Write your code here
principle, rate, time = map(int, input("Enter principle, rate, time").split())
SI = principle*rate*time/100
print(SI)

45.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [22]:
# Write your code here
[heads, legs] = map(int, input("Enter Head count and Leg Count :").split())
# x + y = n
# 2x + 2n  = m
dogs = (legs - 2*heads)//2
print("Dogs:",dogs, "Chicken:", heads-dogs, sep=' ')

Dogs: 2 Chicken: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [24]:
# Write your code here
n = int(input("Enter N : "))
sum = 0
for i in range(1, n+1):
    sum += (i**2)

print(sum)

14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [25]:
# Write your code here
[a, b, n] = map(int, input("Enter a, b, n:").split())
d = b-a
print("Nth term is :", a + (n-1)*d, sep=' ')

Nth term is : 19

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [27]:
# Write your code here
[n1,d1,n2,d2] = map(int,input("Enter your Fractions").split())
ans = (n1*d2 + n2*d1)/(d1*d2)
print("Sum is : ", ans)

Sum is :  1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [30]:
# Write your code here
pi = 3.14
[h, l, b, h1, r] = map(int, input("Enter values for Height, Length, Breadth, Glass Height, Glass Radius").split())
vol_tank = l*b*h
vol_glass = pi*(r**2)*h1
ans = vol_tank//vol_glass
print(ans, " number of glasses")

18.0  number of glasses